<div class="text-center nested-view">
    <h1>{{title}}</h1>
    <hr>

    <h4>{{segment}}</h4>
    <div class="well">

        <ul class="list-group">
            <li class="list-group-item list-group-item-primary"><img src="../resources/img/unipi.png"/></li>
            <li class="list-group-item list-group-item-info"><strong>Project Team Members</strong></li>
            <li class="list-group-item">Xenofon Zinoviou - MPPL16008</li>
            <li class="list-group-item">Alexandros Dikonimos - MPPL16033</li>
        </ul>
        <hr>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success"><strong>Back-End Technologies</strong></li>
            <li class="list-group-item">Java 8, JEE7 , JDBC, JSP, JAX-RS, Maven, MySQL , TomEE</li>
            <li class="list-group-item list-group-item-warning"><strong>UI Technologies</strong></li>
            <li class="list-group-item">AngularJS, Bootstrap, JQuery, Lodash</li>
        </ul>
        <hr>
        <div class="well">
            This Api has been designed and implemented with Rest architecture.
            Back End is decoupled from UI and their communication is based on consuming Resources upon requests on exposed End points.
            Session, UUID & Authentication mechanisms are also implemented , so that only logged-in users can hit consume the resources.
            Failing to authenticate user will lead to un-responded requests.
        </div>

    </div>


    </div>

</div>