<div class="double-nested">

    <h1>GET</h1>

    <p>Http Request Method : GET</p>
    <hr>
    <div class="row">
        <div class="col-lg-3 ">
            <a href="{{rest.Get[$index+0].img}}" class="thumbnail">
                <img class="img-thumbnail" src="{{rest.Get[$index+0].img}}" alt="..."> {{rest.Get[$index+0].url}}
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{{rest.Get[$index+1].img}}" class="thumbnail">
                <img class="img-thumbnail" src="{{rest.Get[$index+1].img}}" alt="..."> {{rest.Get[$index+1].url}}
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{{rest.Get[$index+2].img}}" class="thumbnail">
                <img class="img-thumbnail" src="{{rest.Get[$index+2].img}}" alt="..."> {{rest.Get[$index+2].url}}
            </a>
        </div>
        <div class="col-lg-3">
            <a href="{{rest.Get[$index+3].img}}" class="thumbnail">
                <img class="img-thumbnail" src="{{rest.Get[$index+3].img}}" alt="..."> {{rest.Get[$index+3].url}}
            </a>
        </div>

    </div>
</div>