<div class="text-center nested-view">
    <h1>{{title}}</h1>
    <hr>

    <h4>{{segment}}</h4>

    <div class="well">

        <form class="form-inline">
            <div class="form-group">
                <label >Enter your keyword</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Enter your keyword">
            </div>
        </form>
        <hr>

        <table class="table table-bordered table-striped" ng-if="!requestError">
            <thead class="theaders">
            <tr class="text-center">
                <td ng-click="sort('id')"><p>Index
                    <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </p>
                </td>
                <td ng-click="sort('key')">
                    <p>Medicine ID
                    <span class="glyphicon sort-icon" ng-show="sortKey=='key'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </p>
                </td>
                <td ng-click="sort('name')">
                    <p>Name
                    <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </p>
                </td>
                <td ng-click="sort('valid')">
                    <p>Valid
                    <span class="glyphicon sort-icon" ng-show="sortKey=='valid'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </p>
                </td>
                <td ng-click="sort('price')">
                    <p>Price
                    <span class="glyphicon sort-icon" ng-show="sortKey=='price'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </p>
                </td>
                <td ng-click="sort('producer')">
                    <p>Producer
                    <span class="glyphicon sort-icon" ng-show="sortKey=='producer'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </p>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                <td>{{item.id}}</td>
                <td>{{item.key}}</td>
                <td ng-click="setItemModal(item.id)"><a class="clickable" data-toggle="modal" data-target="#itemModal">{{item.name}}</a></td>
                <td>{{item.valid ? 'Valid' : 'Not Valid'}}</td>
                <td>{{item.price}}</td>
                <td>{{item.producer}}</td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls
                max-size="10"
                direction-links="true"
                boundary-links="true" >
        </dir-pagination-controls>
        <div class="well" ng-if="requestErr">{{requestError}}</div>

    </div>
    <div class="modal fade" id="itemModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Medicine Info</strong> : {{itemModal.name}}</h4>
                </div>
                <div class="modal-body text-justify">
                    <p><strong>Index</strong> : {{itemModal.id}}</p>
                    <p><strong>Medicine ID</strong> : {{itemModal.key}}</p>
                    <p><strong>Name</strong> : {{itemModal.name}}</p>
                    <p><strong>Description</strong> : <br><em>{{itemModal.description}}</em></p>
                    <p><strong>Valid</strong> : {{itemModal.valid ? 'Valid.' : 'Not valid.'}}</p>
                    <p><strong>Price</strong> : {{itemModal.price}} EURO</p>
                    <p><strong>Producer</strong> : {{itemModal.producer}}</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default float-left" ng-click="getPrev()" ng-if="itemModal.id-1!=0">Prev</a>
                    <a class="btn btn-default float-right" ng-click="getNext()" ng-if="itemModal.id!=items.length">Next</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>


</div>