<div class="double-nested">

    <h1>PUT</h1>

    <p>Http Request Method : PUT</p>
    <hr>

    <table class="table table-bordered table-striped" ng-if="!requestError">
        <thead class="theaders">
        <tr class="text-center">
            <td>
                <p>End Point</p>
            </td>
            <td>
                <p>Resource - Json Format</p>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" ng-repeat="item in rest.Put">
            <td ng-click="setPutItemModal(item.id)"><a class="clickable" data-toggle="modal" data-target="#itemModal">{{item.url}}</a></td>
            <td ng-click="setPutItemModal(item.id)"><a class="clickable" data-toggle="modal" data-target="#itemModal"><img class="img-thumbnail" src="{{item.img}}"></a></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="modal fade" id="itemModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>XmlHttpRequest Method : PUT</strong> : {{itemModal.name}}</h4>
            </div>
            <div class="modal-body text-justify">
                <p><strong>Index</strong> : {{itemModal.id}}</p>
                <p><strong>End Point</strong> : {{itemModal.url}}</p>
                <div class="thumbnail">
                    <img class="end-points img-responsive" src="{{itemModal.img}}">
                    <div class="caption">
                        <p>{{item.url}}</p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
</div>
